# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Populate

url: "https://populate.tools"
baseurl: "" # the subpath of your site, e.g. /blog
email: lets@populate.tools
handle: populate_
long_handle: populatetools

# default permalink for blog posts
permalink: blog/:title

collections:
  projects:
    output: true
    permalink: projects/:name
  news:
    output: true
    permalink: news/:name
  careers:
    output: true
    permalink: career/:name
  posts:
    output: true
    permalink: blog/:title
  category:
    output: true
    permalink: blog/:title/
  datasets:
    output: true

defaults:
  # - scope:
  #     path: ""
  #   values:
  #     image: img/populate-og.png
  - scope:
      path: ""
      type: projects
    values:
      weight: 100


# Analytics
ga_id: UA-70344922-1
inspectlet_id: 761931177

# Social handlers
twitter_url: https://twitter.com/
github_url: https://github.com/

join_us: career/
populate_data: data


# Build settings
markdown: kramdown
highlighter: rouge
exclude: 
  - README.md
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - _config.yml
  - config
  - _i18n
  - src
  - node_modules

assets:
  features:
    automatic_img_size: false
  sources:
    - _assets/css
    - _assets/img
    - _assets/img/posts
    - _assets/js

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-assets
  - jekyll-polyglot
  - jekyll-contentblocks

languages: ["en", "es"]
default_lang: "en"
exclude_from_localization: ["javascript", "images", "css", "assets"]
parallel_localization: false
