---
layout: default
description: t meta_description.home
---

{% include hero.html %}

<main>
  {% include header.html %}

  <div class="container">

    <!--
    <section id="products" class="section products">
      {% include products.html %}
    </section>
    -->

    <section id="projects" class="section projects">
      {% include projects.html %}
    </section>

    <section id="news" class="section news">
      {% include news.html %}
    </section>
  </div>

  <div class="container-fluid">
    <section id="clients" class="section clients">
      {% include clients.html %}
    </section>
  </div>

  <div class="container">
    <section id="team" class="section team">
      {% include team.html %}
    </section>
  </div>
</main>
