---
layout: default
---

{% include hero.html %}

<main class="home">
  {% include header.html %}
  
  <div class="all_stories">
    <h3>Latest posts:</h3>
    {% for post in site.posts %}
    <div class="story">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    </div>
    {% endfor %}
  </div>
      
  <div class="team">
    
    <h1>Team</h1>
    {% for human in site.data.team %}
    <div>
      <p>{{human.name}} ({{human.handle}})</p>
      <p>{{human.job}}</p>
      <br />
    </div>
    {% endfor %}
  </div>
  
  
</main>
