---
layout: default
permalink: /career/
description: "Digital agency providing full service: from conceptualization and research, design, front-end, back-end, data..."
---

{% include header.html %}

<main>

  <div class="container careers page">

    <article>

      <main class="content">

        <h1>Work with us</h1>

        {% include careers_general_text.html %}

        <h2>Openings</h2>

      </main>

      <p>We are actively looking for:</p>
      <div class="careers-list">
      {% assign site_careers_active = site.careers | where: "active",true %}
      {% for career in site_careers_active %}
        <article class="careers-list-item">
          <h2><a href="{{ career.url | prepend: career.baseurl }}">{{ career.title }}</a></h2>
          <!-- <time class="article-time">{{career.date | date: "%b %-d, %Y"}}</time> -->
        </article>
      {% endfor %}
      </div>
      
      {% assign site_careers_active = site.careers %}
      {% if site_careers_active > 0 %}
      <p style="margin-top: 3em">We are passively looking for these other roles. If you'd like to work with us, we'd be happy to meet you to explore the future (but don't expect a specific proposal in the short term -2-3 months) </p>
      <div class="careers-list">
        
        {% for career in site_careers_active %}
          {% if career.active != true %}
          <article class="careers-list-item">
            <h2><a href="{{ career.url | prepend: career.baseurl }}">{{ career.title }}</a></h2>
            <!-- <time class="article-time">{{career.date | date: "%b %-d, %Y"}}</time> -->
          </article>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

    </article>

  </div>

</main>
