<div class="container" id="about">

  <div class="pure-g">
    <div class="pure-u-1 m_v_4">
      <h4>Work with us</h4>
      <p class="small">We are always on the look for Ruby On Rails devs, designers, data visualization geeks... Check out <a href="/{{ site.join_us }}">our openings</a> or feel free to <a href="mailto:lets@populate.tools">write to us</a> if you'd like to talk. </p>
    </div>

  </div>

  <div class="pieces-sep">
    <img class="rot-45" src="{% asset_path 'pieces' @path %}">
  </div>

</div>
