
  <header class="header">
    <div class="wrapper">
      <div class="mobile-menu">
        <a class="no-underline logo" href="/">
          <img src="{% asset 'logo' @path %}" class="logo-header pure-img" alt="Populate" />
        </a>
      </div>

      <div class="desktop-menu">
        <a class="no-underline logo" href="/">
          <img src="{% asset 'logo' @path %}" class="logo-header pure-img" alt="Populate" />
        </a>
        <ul class="header-list">
          <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}#projects">work</a></li>
          <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}blog">blog</a></li>
          <!-- <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}#clients">clients</a></li> -->

          <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}#about">about</a></li>
          <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}#contact">contact</a></li>
          <li class="header-item"><a class="header-link header-section" href="/{% if site.lang == "es" %}es/{% endif %}{{ site.join_us }}">join us</a></li>

          <li class="header-item"><a class="header-link header-section" href="/{{ site.populate_data }}">populate data</a></li>
        </ul>

      </div>

    </div>
  </header>

  <nav class="nav mobile_menu">

    <div class="hamburger-container">
      <ul class="hamburger">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <ul id="menu">
      <li><a href="/#projects">work</a></li>
      <li><a href="/">about</a></li>
      <li><a href="/#contact">contact</a></li>
      <li><a href="/{{ site.join_us }}">join us</a></li>
      <li><a href="/{{ site.populate_data }}">populate data</a></li>
    </ul>

  </nav>
