<header class="hero">
  <div class="hero-logo">
    <div class="container">
      {% img 'logo' class:'pure-img' alt:'Populate' %}
      <div class="lang-switcher"><a href="#" class="active">EN</a> <a href="#">ES</a></div>
    </div>
  </div>

  <div class="hero-content">
    <div class="container relative">
      <div class="hero-lead">
        <h1 class="hero-headline">{% t home.claim_1 %}</h1>
        <h2 class="hero-subheading">{% t home.claim_2 %}</h2>
        <div class="hero-list pure-g">
          <div class="pure-u-1 pure-u-md-1-4 hero-point"><p><a href="">{% t strategy_for_citizen_experiences %}</a></p></div>
          <div class="pure-u-1 pure-u-md-1-4 hero-point"><p><a href="">{% t data_vis_and_anal %}</a></p></div>
          <div class="pure-u-1 pure-u-md-1-4 hero-point"><p><a href="">{% t ruby_on_rails_consultancy %}</a></p></div>
          <div class="pure-u-1 pure-u-md-1-4 hero-point"><p><a href="">{% t transparency_and_participation %}</a></p></div>
        </div>
      </div>
    </div>
  </div>
</header>
