<h1 class="section-title">Projects</h1>

<div class="project-gallery">
  {% for project in site.data.projects %}
  <a class="popup-with-zoom-anim project" href="#{{project.name | slugify}}">
    {% img '{{project.img}}' class:'project-teaser pure-img' alt:'{{project.name}}' %}
  </a>
  
  <div id="{{project.name | slugify}}" class="zoom-anim-dialog mfp-hide dialog">
    {% img '{{project.img}}' class:'project-popup-img pure-img' alt:'{{project.name}}' %}
    <div class="project-description">
      <h1 class="project-name">{{project.name}}</h1>
      <small class="project-client">Client: <a class="client-url no-underline" href="{{project.client_url}}">{{project.client}}</small>
      
      <a class="pure-button project-button" href="{{project.url}}">Go to project</a>
    </div>
  </div>
  {% endfor %}

</div>
