<div class="sidebar fl dn db-ns w-20-ns">
  <ul class="list pl0 pr3">
    <li class="mb3 pointer"><a class="link" href="#proyecto">El proyecto</a></li>
    <li class="mb3 pointer"><a class="link" href="#claves">Claves</a></li>
    <li class="mb3 pointer"><a class="link" href="#storytelling">Storytelling</a></li>
    <li class="mb3 pointer"><a class="link" href="#consumo-energia">Visualizando cómo se consume energía</a></li>
    <li class="mb3 pointer"><a class="link" href="#reto">Te retamos</a></li>
    <li class="mb3 pointer"><a class="link" href="#analisis">Análisis de datos</a></li>
    <li class="mb3 pointer"><a class="link" href="#resultado">El resultado</a></li>
  </ul>
</div>
