.header {
  margin-bottom: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  
  // min-height: 10vh;
}
.header .wrapper {
  padding: 0 2rem;
  position: relative;
  
  @media screen and (min-width: 90em) {
    padding: 0;
  }
}
.logo-header {
  display: none;
  max-width: 10rem;
  padding-right: 2rem;
}
.header-list {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.header-item {
  vertical-align: 1rem;
  display: inline-block;
}
.header-item {
  padding-right: 2rem;
}
.header-link {
  color: $link;
  text-decoration: none;
}
.header-section {
  font-weight: 500;
}
.header-subsection {
  color: $gray;
  font-weight: 300;
}

.newsletter {
  display: none;
  position: absolute;
  right: 2rem;
  border-bottom: 1px solid $border;
  width: 35rem;
  top: 0.5rem;
  
  @media screen and (min-width: 64em) {
    display: inline-block;
  }
}
.newsletter #revue-embed {
  position: relative;
}
.newsletter #member_email {
  background: transparent;
  width: 95%;
}
.newsletter #member_submit {
  position: absolute;
  right: 0;
}
.newsletter p {
  margin-bottom: 1rem;
}
.newsletter input {
  border: none;
}
.newsletter input[type="submit"] {
  background: none;
}

/* Stick on scroll */
.sticky-wrapper {
  margin: 0 auto;
}
.stuck {
  max-width: none;
  z-index: 1;
  // background: rgba(255,255,255,0.98);
  background: rgb(255,255,255);
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 1rem 0;
}
.stuck .wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.stuck .header-list {
  margin-bottom: 0;
}
.stuck .logo-header {
  display: inline-block;
}
.stuck .newsletter {
  right: 2rem;
  
  @media screen and (min-width: 90em) {
    right: 4rem;
  }
}
