.hero {
  @include min-screen(768) { 
    max-height: 90vh;
  }
}
.hero-logo {
  position: relative;
  max-width: 1440px;
  height: 40vh;
  margin: 0 auto;
}
.hero-logo img {
  padding-top: 10vh;
  max-width: 20rem;
  
  @include min-screen(768) { 
    max-width: 20rem;
  }
}
.lang-switcher {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.lang-switcher a {
  text-decoration: none;
}
.lang-switcher a:first-of-type {
  margin-right: 0.5rem;
}
.lang-switcher .active {
  font-weight: 700;
}

/* Description */
.hero-content {
  background: $blue;
  color: white;
  position: relative;
  
  @include min-screen(768) { 
    height: 50vh;
  }
}
.hero-lead {
  bottom: 0;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 1440px;
  
  @include min-screen(768) { 
    position: absolute;
  }
}
.hero-headline {
  font-size: 3rem;
  
  @include min-screen(768) {
    max-width: 75%;
    font-size: 4rem;
  }
  
  @include min-screen(1400) {
    max-width: 70%;
    font-size: 6rem;
  }
}
.hero-subheading {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: $sans_copy;
  max-width: 75%;
  margin-bottom: 5vh;
  
  @include min-screen(768) { 
    font-size: 2.25rem;
  }
}

.hero-list {
  border-top: 1px solid $border_white;
  padding-top: 2rem;
  
  @include min-screen(768) { 
    padding-top: 2rem;
  }
}
.hero-point {
  font-weight: 300;
}
.hero-point p {
  @include min-screen(768) { 
    max-width: 70%;
    font-size: 1.75rem;
  }
}
