/* Base */
$post-width: 700px;

.post article {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 6rem 2rem;
}
.post h1 {
  font-size: 3.25rem;
  color: $black;
  max-width: $post-width * 1.35;
  margin-bottom: 2rem;
  
  @include min-screen(768) {
    font-size: 4.5rem;
  }
}
.post .content p {
  line-height: 1.6;
  margin-bottom: 1.85rem;
  max-width: $post-width
}
.post .content a {
  word-wrap: break-word;
}
.post .content h2 {
  margin-top: 3.5rem;
  margin-bottom: 0.75rem;
}
.post .content img {
  // margin: 2.75rem 0;
  max-width: 100%;
  height: auto;
  display: block;
}
.post .content hr {
  margin: 2.5rem 0;
  max-width: $post-width
}
.post .author-link {
  text-decoration: none;
}
.content blockquote {
  margin: 3rem 0;
  font-style: italic;
  font-family: $serif;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  border-left: 2px solid $gray;
}
.content ul,
.content ol,
.content .gist {
  max-width: $post-width
}

/* Post meta */
.post .meta {
  color: $gray;
  margin-bottom: 1.5rem;
  font-size: $f4;
}
.post .info {
  display: inline-block;
  vertical-align: 5px;
}
.post .meta p {
  margin-bottom: 0;
}
.post .meta time {
  display: block;
}
.post .avatar {
  display: inline-block;
  margin-right: 0.75rem;
  max-width: 45px;
  border-radius: 50%;
}
