/* Products */
.product .padded {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  min-height: 40rem;
  
  @include min-screen(768) {
    margin-bottom: 0;
    padding: 2rem;
  }
}
.product-name {
  margin-bottom: 0.5rem;
}
.product-link {
  text-decoration: none;
}
.product-description {
  font-family: $sans_copy;
  font-weight: 400;
  font-size: 1.8rem;
  // color: $gray;
}
.product-img {
  max-height: 300px;
  margin-bottom: 1rem;
}
