.clients {
  background: $light_gray;
  text-align: center;
}
.clients-title {
  font-weight: 400;
  color: $blue;
  margin-bottom: 2rem;
}
.clients-grid {
  padding: 4rem 0;
  max-width: 1500px;
  margin: 0 auto;
}
.clients-grid .col-3,
.clients-grid .col-4 {
  border-top: 1px solid $border;
  
  @include min-screen(768) {
    border-top: none;
  }
}
.clients-grid .col-5,
.clients-grid .col-6,
.clients-grid .col-7,
.clients-grid .col-8 {
  border-top: 1px solid $border;
}
.clients-grid .col-1,
.clients-grid .col-2,
.clients-grid .col-3,
.clients-grid .col-5,
.clients-grid .col-6,
.clients-grid .col-7 {
  border-right: 1px solid $border;
}
.client {
  text-align: center;
  margin-bottom: 1rem;
}
.client-wrapper {
  padding: 2rem;
  height: 120px;
  
  @include min-screen(768) {
    padding: 4rem;
  }
  
  @include min-screen(90em) {
    padding: 2rem 6rem;
  }
}
.client-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
