/* Populate */
$blue: #038ba4;
$red: #ee3624;
$brown: #554d42;

/* Website */
$black: #333;
$gray: #828282;
$link: rgb(100,100,100);
$border: #ccc;
$border_white: rgba(255,255,255, .3);
$light_gray: #F8F8F8;

$border_light: rgba(0,0,0,0.1);
