$color_pd_blue_ultra_light: #E7E9EF;
$color_pd_grey_medium: #ECECEC;
$color_pd_grey_light: #FAFAFA;

body.populate_data {

  .pdb_container {
    position: relative;
  }

  .p_data_browser {
    display: flex;
    border: 1px solid #DFDFDF;
    padding: 1em;

    .pdb_data_column  {
      width: 20%;
      align-self: flex-start;
      margin: 0 2% 0 0;
    }

    .pdb_data_list {
      font-size: .85em;
      a {
        display: block;
        color: $color_pd_blue;
        padding: .35em .5em;
        margin: 0 0 .5em 0;
        line-height: 1.2;
        border-radius: 4px;
      }
      a.active,
      a:hover {
        background: transparentize($color_pd_red, .9);
      }
    }
  }

  .pdb_dataset_series {
    font-size: .85em;

    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.3em;
    }

    .back_to_browse {
      margin: 0 0 2em 0;
      display: block;
    }

    header {
      display: flex;
      margin: 0 0 2em 0;

      .meta_main {
        width: 70%;
      }
      table.meta_second {
        min-width: 200px;
        font-size: 12px;

        th {
          text-align: left;
          max-width: 100px;
        }
      }
    }

    table.pdb_serie_table {
      width: 100%;

      th, td {
        padding: 2px 4px;
        text-align: right;
      }

      thead {
        th {
          background: $color_pd_blue_ultra_light;
          color: $color_pd_blue;
        }
      }

      tbody.pdb_stats_overview {
        th {
          font-size: 10px;
          font-weight: 300;
          width: 60px;
        }
        td {
          background: $color_pd_grey_medium;
        }
        tr:hover {
          td, th {
            background: darken($color_pd_grey_medium, 5%);
          }
        }
      }

      tbody.data {
        td {
          background: $color_pd_grey_light;
        }
        tr:hover {
          td {
            background: darken($color_pd_grey_light, 5%);
          }
        }
      }
    }
  }


  .pdb_how_to_useit {
    margin: 0 0 2em 0;
    .pdb_how_to_useit_example {
      padding: 1em;
      background: $color_pd_grey_light;
    }
  }



  /* For Animation purposes */
  .pdb_dataset_series {
    top: 0;
    visibility: hidden;
  }

  .slide-in-left {
    visibility: visible;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-out-left {
    visibility: visible;
    position: absolute;
  	animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px);
      opacity: 0;
    }
  }

  .fade-out {
    visibility: visible;
    position: absolute;
  	animation: fade-out 1s ease-out both;
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  .scale-out-center {
    visibility: visible;
    position: absolute;
  	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  @keyframes scale-out-center {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 1;
    }
  }

}
