.footer {
  border-top: rgba(0,0,0,0.4);
  padding-top: 1rem;
  position: relative;
  padding-bottom: 20rem;
  font-family: $sans_headline;
}
.copy {
  display: inline-block;
  margin-bottom: 2rem;
}
.links {  
  @include min-screen(768) {
    float: right;
  }
}
.footer-link {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  
  @include min-screen(768) {
    display: inline-block;
  }
}
.footer-link:not(:last-child) {
  padding-right: 4rem;
}
