.footer {
  border-top: 1px solid $border_light;
  padding: 1rem 0 20rem 0;
  position: relative;
  font-family: $sans_headline;

  @include min-screen(768) {
    padding: 2rem 0 6rem 0;
  }
  @include min-screen(1600) {
    padding: 2rem 0 20rem 0;
  }
}
.copy {
  display: inline-block;
  margin-bottom: 2rem;
}
.links {
  @include min-screen(768) {
    float: right;
  }
}
.footer-link {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;

  @include min-screen(768) {
    display: inline-block;
  }
}
.footer-link:not(:last-child) {
  padding-right: 4rem;
}
