.header {
  margin-bottom: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;

  @include min-screen(768) {
    padding: 2rem 4rem 6rem 4rem;
  }

  @include min-screen(1600) {
    padding: 2rem 0;
  }
}
.header .wrapper {
  padding: 0 1rem;
  position: relative;

  @include min-screen(768) {
    padding: 0 2rem;
  }

  @include min-screen(90em) {
    padding: 0;
  }
}
.logo-header {
  display: none;
  max-width: 10rem;
  padding-right: 4rem;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.header-list {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.header-item {
  vertical-align: 0.7rem;
  display: inline-block;
}
.header-item {
  padding-right: 2rem;
}
.header-link {
  color: $link;
  text-decoration: none;
}
.header-section {
  font-weight: 500;
}
.header-subsection {
  color: $gray;
  font-weight: 300;
}

.newsletter {
  display: block;
  position: relative;
  max-width: 3400px;
  margin: 0 0 2rem;

  .ml-subscribe-form {
    margin: auto;
    position: relative;
    border-bottom: 1px solid $border;

  }
}
.newsletter #revue-embed {
  position: relative;
}
.newsletter #member_email {
  background: #F3F3F3;
  width: 100%;
  padding: 10px 15px;
  font-size: .85em;
  box-sizing: border-box;
}
.newsletter #member_submit {
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 1.2em;
}
.newsletter p {
  margin-bottom: 0.5rem;
}
.newsletter input, button {
  border: none;
}
.newsletter input[type="submit"], button {
  background: none;
}

/* Mobile menu */
.desktop-menu {
  display: none;

  @include min-screen(768) {
    display: block;
  }
}
.open_mobile_menu {
  float: right;

  @include min-screen(768) {
    display: none;
  }
}
.bars {
  fill: $gray;
}
.mobile-menu .logo {
  @include min-screen(768) {
    display: none;
  }
}
.mobile_menu .mfp-container {
  padding: 0;
}
.mobile_menu .mfp-close {
  font-size: 2.5em;
  right: 20px;
  top: 5px;
  color: white;
  opacity: 1;
}
.mobile_menu .mfp-container .mfp-content {
  padding: 0;
  vertical-align: top;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
}
.mobile_menu .mfp-container .mfp-content .modal {
  border-radius: 0;
  margin: 0;
}
.mobile_menu header {
  background: $blue;
}
.mobile_menu menu {
  margin: 0;
  padding: 2.5rem 2rem;
}
.mobile-link {
  text-align: center;
  border-bottom: 1px solid rgba(white, 0.4);
  color: white;
  display: block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: $f3;
}
.mobile-link:hover {
  color: white;
}

/* Stick on scroll */
.sticky-wrapper {
  margin: 0 auto;
}
.header.stuck {
  max-width: none;
  z-index: 1;
  // background: rgba(255,255,255,0.98);
  background: rgb(255,255,255);
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 1rem 0;

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    @include min-screen(768) {
      padding: 0 6rem;
    }
    @include min-screen(1600) {
      padding: 0;
    }
  }
  .desktop-menu {
    position: relative;
  }
  .desktop-menu .newsletter {
    right: 0;
  }
  .header-list {
    margin-bottom: 0;
  }
}

.header.stuck,
.header.stuck .logo-header {
  display: inline-block;
}
.logo-header {
  display: inline-block;
}
