.header {
  margin-bottom: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
}
.header .wrapper {
  padding: 0 1rem;
  position: relative;
  
  @include min-screen(768) {
    padding: 0 2rem;
  }
  
  @include min-screen(90em) { 
    padding: 0;
  }
}
.logo-header {
  display: none;
  max-width: 6rem;
  padding-right: 2rem;
}
.header-list {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.header-item {
  vertical-align: 0.7rem;
  display: inline-block;
}
.header-item {
  padding-right: 2rem;
}
.header-link {
  color: $link;
  text-decoration: none;
}
.header-section {
  font-weight: 500;
}
.header-subsection {
  color: $gray;
  font-weight: 300;
}

.newsletter {
  display: none;
  position: absolute;
  right: 0;
  border-bottom: 1px solid $border;
  width: 20rem;
  top: 0.5rem;
  
  @include min-screen(64em) { 
    display: inline-block;
  }
}
.newsletter #revue-embed {
  position: relative;
}
.newsletter #member_email {
  background: transparent;
  width: 95%;
}
.newsletter #member_submit {
  position: absolute;
  right: 0;
}
.newsletter p {
  margin-bottom: 0.5rem;
}
.newsletter input {
  border: none;
}
.newsletter input[type="submit"] {
  background: none;
}

/* Mobile menu */
.desktop-menu {
  display: none;
  
  @include min-screen(768) { 
    display: block;
  }
}
.open_mobile_menu {
  float: right;
  
  @include min-screen(768) { 
    display: none;
  }
}
.bars {
  fill: $gray;
}
.mobile-menu .logo {
  @include min-screen(768) { 
    display: none;
  }
}
.mobile_menu .mfp-container {
  padding: 0;
}
.mobile_menu .mfp-close {
  font-size: 2.5em;
  right: 20px;
  top: 5px;
  color: white;
  opacity: 1;
}
.mobile_menu .mfp-container .mfp-content {
  padding: 0;
  vertical-align: top;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
}
.mobile_menu .mfp-container .mfp-content .modal {
  border-radius: 0;
  margin: 0;
}
.mobile_menu header {
  background: $blue;
}
.mobile_menu menu {
  margin: 0;
  padding: 1.5rem 2rem;
}
.mobile-link {
  text-align: center;
  border-bottom: 1px solid rgba(white, 0.4);
  color: white;
  display: block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: $f3;
}
.mobile-link:hover {
  color: white;
}

/* Stick on scroll */
.sticky-wrapper {
  margin: 0 auto;
}
.stuck {
  max-width: none;
  z-index: 1;
  // background: rgba(255,255,255,0.98);
  background: rgb(255,255,255);
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 1rem 0;
  
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .header-list {
    margin-bottom: 0;
  }
}

.stuck,
.stuck .logo-header {
  display: inline-block;
}
.post .logo-header {
  display: inline-block;
}
