.hero {
  @include min-screen(768) { 
    max-height: 87vh;
  }
  @include min-screen(1600) { 
    max-height: 90vh;
  }
}
.hero-logo {
  position: relative;
  max-width: 1440px;
  height: 40vh;
  margin: 0 auto;
}
.hero-logo img {
  padding-top: 10vh;
  max-width: 12rem;
}
.lang-switcher {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  
  @include min-screen(768) { 
    right: 6rem;
  }
  @include min-screen(1600) { 
    right: 2rem;
  }
}
.lang-switcher a {
  text-decoration: none;
}
.lang-switcher a:first-of-type {
  margin-right: 0.5rem;
}
.lang-switcher .active {
  font-weight: 700;
}

/* Description */
.hero-content {
  background: $blue;
  color: white;
  position: relative;
  
  @include min-screen(768) { 
    height: 50vh;
  }
}
.hero-lead {
  bottom: 0;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 1440px;
}
.hero-headline {
  font-size: $f2;
  
  @include min-screen(1440) { 
    font-size: 4rem;
    max-width: 75%;
  }
}
.hero-subheading {
  font-size: $f3;
  font-weight: 300;
  font-family: $sans_copy;
  margin-bottom: 5vh;
  
  @include min-screen(768) {
    max-width: 75%;
  }
}

.hero-list {
  border-top: 1px solid $border_white;
  padding-top: 2rem;
  
  @include min-screen(768) { 
    padding-top: 2rem;
  }
}
.hero-point {
  font-weight: 400;
}
.hero-point p {
  @include min-screen(768) { 
    max-width: 70%;
  }
}
