.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  
  @include min-screen(768) {
    padding: 0 6rem;
  }

  @include min-screen(1600) {
    padding: 0 2rem;
  }
}
.section {
  margin-bottom: 2rem;
  
  @include min-screen(768) {
    margin-bottom: 4rem;
  }
  
  @include min-screen(1600) {
    margin-bottom: 5rem;
  }
}
.section-title {
  color: $blue;
  margin-bottom: 1rem;
}
