.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.section {
  margin-bottom: 2rem;
  
  @include min-screen(1500) {
    margin-bottom: 5rem;
  }
}
.section-title {
  color: $blue;
  margin-bottom: 1rem;
}
