.project-gallery {
  font-size: 0;
}
.project {
  width: 100%;
  
  @include min-screen(768) {
    width: 50%;
  }
}

/* Styles for dialog window */
.dialog {
	background: white;
	text-align: left;
	max-width: 960px;
	margin: 40px auto;
	position: relative;
}
.project-name {
  margin-bottom: 0.5rem;
}
.project-description {
  padding: 1rem 2rem;
}
.project-client {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $gray;
  display: block;
  margin-bottom: 0.5rem;
}
.project-popup-img {
  margin: 0 auto;
}
.project-text {
  margin-top: 0;
}
.project-button {
  background: $blue;
  color: white;
  transition: 0.3s;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.project-button:hover {
  background: darken($blue, 10%);
  color: white;
  filter: none;
  background-image: none;
}
.project-popup-img {
  width: 100%;
  height: 30vh;
  background: #222 no-repeat center center;
  background-size: cover;
}
