body.story {
  header.header {
    padding-bottom: 2rem;
  }

  .story-container {
    .content {
      
    }
  }
}

header.story {
  background: $blue;
  padding: 4em 0;
  color: #FFF;
  margin: 0 0 2em 0;

  h1, h2 {
    color: #FFF;
  }
  h2 {
    font-weight: normal;
    opacity: .6;
  }
  .visual_feature {
    width: 40%;
    height: 400px;
    float: left;
  }
}
