@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_vendor/pure",
  "_vendor/populate_utilities",
  "_vendor/magnific-popup",
  "_vendor/slick-theme",
  "_vendor/syntax-highlighter",
  "vars",
  "type",
  "header",
  "base",
  "hero",
  "home",
  "products",
  "projects",
  "news",
  "clients",
  "team",
  "post",
  "page",
  "footer",
  "section_populate_data",
  "menu",
  "story"
;
