.browser-container {
    font-size: 0;
    width: 100%;
    padding: 1rem;
    background-color: $bgBrowserTerms;
}

.browser-list-terms {
    width: 7rem;
    display: inline-block;
    vertical-align: top;
}

.browser-terms {
    width: calc(100% - 7rem);
    display: inline-block;
    column-count: 15;
    font-size: 3px;
}

.browser-list-terms-title {
    font-size: 1rem;
    font-family: $title;
    color: $black;
}

.browser-list-btn {
    font-size: .5rem;
    font-weight: bold;
    font-family: $text;
    cursor: pointer;
    padding: .5rem;
    background-color: $lightgrey;
    border-radius: .25rem;
    display: block;
    margin-bottom: .5rem;
}

.browser-columns {
    width: 30%;
    display: inline-block;
    background-color: $blackgrey;
    padding: 1rem;
    vertical-align: top;
    height: 100%;
    &:last-child {
        background-color: $grey;
    }
}

.browser-column-center {
    width: 40%;
    background-color: $lightgrey;
    padding: 1rem 3rem;
}

.browser-title {
    font-size: 2rem;
    font-family: $title;
    color: $white;
}

.browser-chapter {
    width: 30%;
    display: block;
    font-size: 1rem;
    font-family: $text;
    color: $colorchapter;
    margin-bottom: .75rem;
}

.browser-chapter-left {
    display: inline-block;
}

.browser-chapter-group {
    font-size: 0;
}

.browser-chapter-titles {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    font-family: $text;
}

.browser-chapter-text {
    font-size: 1rem;
    color: $white;
    display: block;
    margin-bottom: .5rem;
}

.browser-constitution {
    overflow-y: scroll;
    height: 100%;
}

.browser-constitution-title {
    font-size: 1.5rem;
    font-family: $title;
    color: $black;
}

.browser-constitution-paragraph {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    white-space: pre-line;
}

.browser-text-terms,
.term-selected {
    font-size: 3px;
}

.term-selected {
    background-color: red;
}
