.container-constitution {
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    .content {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.browser-main {
    width: 100%;
    background-color: $lightgrey;
    font-size: 0;
    height: 100vh;
}

.browser {
    overflow-y: scroll;
}

.browser-constitution-title {
    font-size: 2rem;
    font-family: $title;
    color: $black;
    font-weight: bold;
    margin-top: 1.5rem;
    &.article {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}

.browser-constitution-subtitle {
    font-size: 1.5rem;
    font-family: $title;
    font-weight: bold;
    color: $black;
}

.browser-constitution-title-article,
.browser-constitution-paragraph {
    &:empty {
        display: none;
    }
}

.browser-constitution-paragraph {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
}
.browser-constitution {
    margin-bottom: 1.5rem;
    width: 70%;
    margin: 0 auto;
}

.browser-center {
    width: 75%;
    display: inline-block;
}

.browser-main-columns-left {
    background-color: $blackgrey;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
    .browser {
        font-size: 0;
    }
}

.browser-center-columns-first,
.browser-center-columns-second {
    height: 100vh;
    width: 65%;
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
}

.browser-center-columns-first {
    background-color: #F2F2F2;
    overflow-y: scroll;
    padding: 0;
    .browser-center {
        padding: 0 1rem 1rem 1rem;
    }
}

.browser-center-columns-second {
    background-color: $grey;
    height: 100vh;
    width: 35%;
    padding: 1rem;
    overflow-y: scroll;
}

.browser-common-word {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    display: block;
    margin: .25rem;
    cursor: pointer;
}

.browser-list-terms {
    width: 7rem;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.browser-terms {
    width: calc(100% - 7rem);
    display: inline-block;
    column-count: 5;
    font-size: 3px;
}

.browser-list-terms-title {
    font-size: 1rem;
    font-family: $title;
    color: $textBrowserTerms;
}

.browser-title {
    font-size: 2rem;
    font-family: $title;
    color: $white;
}

.browser-chapter {
    width: 100%;
    text-decoration: underline;
    display: block;
    margin-bottom: .75rem;
}

.browser-chapter-title {
    font-size: .75rem;
    font-family: $text;
    color: #9A9A9A;
    cursor: pointer;
    font-weight: normal;
}

.browser-chapter-subtitle {
    font-size: .75rem;
    font-family: $text;
    display: block;
    color: $white;
}

.browser-constitution-paragraph {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    white-space: pre-line;
}

.browser-common-word-container {
    padding: .75rem .5rem;
    width: 70%;
    cursor: pointer;
    font-family: $text;
}

.browser-commond-word-input {
    display: inline-block;
    display: none;
    &:checked {
        + .browser-common-word-label {
            background-color: #C7C7C7;
        }
    }
}

.browser-common-word-label {
    background-color: transparent;
    display: inline-block;
    font-size: 1rem;
    padding: 0 .25rem;
    font-family: $text;
    color: #414141;
    cursor: pointer;
}

.browser-center-columns-second-title {
    font-size: 12px;
    font-family: $text;
    margin-bottom: 1rem;
    display: inline-block;
    color: #989898;
}

.browser-chapter-columns {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.browser-chapter-columns-left {
    width: 35%;
}

.browser-chapter-container {
    margin-bottom: .5rem;
}

.browser-common-word-columns {
    display: inline-block;
    width: 45%;
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.border-indicator {
    height: 12px;
    background-color: #C1C0C1;
    width: 2px;
    margin-right: 2px;
    display: inline-block;
    float: right;
}

.term-selected {
    background-color: #C1C0C1;
}

.browser-header {
    background-color: #D5D5D5;
    padding: 1rem;
    max-width: 70%;
    &:empty {
        display: none;
    }
}

.browser-header-title {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    span {
        font-weight: bold;
    }

}
