.container-constitution {
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
}

.browser-main {
    width: 100%;
    background-color: $lightgrey;
    font-size: 0;
    height: 100vh;
}

.browser {
    height: 100%;
    overflow-y: scroll;
}
.browser-constitution-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.browser-constitution-paragraph {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
}
.browser-constitution {
    margin-bottom: 1.5rem;
    width: 70%;
    margin: 0 auto;
}

.browser-center {
    width: 75%;
    display: inline-block;
}

.browser-main-columns-left {
    background-color: $blackgrey;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 1rem;
    height: 100%;
}

.browser-center-columns-first,
.browser-center-columns-second {
    max-height: 100vh;
    width: 65%;
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
}

.browser-center-columns-first {
    background-color: $lightgrey;
    overflow-y: scroll;
}

.browser-center-columns-second {
    background-color: $grey;
    height: 100vh;
    width: 35%;
}

.browser-common-word {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    display: block;
    margin: .25rem;
    cursor: pointer;
}

.browser-list-terms {
    width: 7rem;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.browser-terms {
    width: calc(100% - 7rem);
    display: inline-block;
    column-count: 5;
    font-size: 3px;
}

.browser-list-terms-title {
    font-size: 1rem;
    font-family: $title;
    color: $textBrowserTerms;
}

.browser-title {
    font-size: 2rem;
    font-family: $title;
    color: $white;
}

.browser-chapter {
    width: 100%;
    text-decoration: underline;
    display: block;
    margin-bottom: .75rem;
}

.browser-chapter-title {
    font-size: 1rem;
    font-family: $title;
    color: $white;
    cursor: pointer;
    font-weight: normal;
    &:hover {
        color: $white;
        font-weight: bold;
    }
}

.browser-chapter-subtitle {
    font-size: .75rem;
    font-family: $text;
    display: block;
    padding-left: .5rem;
    color: $white;
}

.browser-constitution-title {
    font-size: 1.5rem;
    font-family: $title;
    color: $black;
}

.browser-constitution-paragraph {
    font-size: 1rem;
    font-family: $text;
    color: $black;
    white-space: pre-line;
}

.browser-common-word-container {
    margin-bottom: .5rem;
    background-color: #1d1a38;
    padding: 1rem;
    width: max-content;
    cursor: pointer;
    transition: background-color .3s ease-in;
    &:hover {
        background-color: rgba(29, 26, 56, .6);
    }
}

.browser-commond-word-input {
    display: inline-block;
    display: none;
}

.browser-common-word-label {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $text;
    color: $white;
}

.browser-center-columns-second-title {
    font-size: 1.25em;
    font-family: $title;
    color: $black;
    margin-bottom: 1rem;
}
