/* color */

$black: #111;
$white: #fff;
$grey: #E5E5E5;
$blackgrey: #333333;
$lightgrey: #F2F2F2;
$colorchapter: #9A9A9A;
$bgBrowserTerms: #fffdf8;

/* fonts */

$title: 'Libre Caslon Display', serif;;
$text: 'IBM Plex Sans', sans-serif;;
