---
layout: default
---

{% include header.html %}

<div class="container page">

  <article>

    <div class="breadcrumb m_v_3">
      <a href="/{{ site.join_us }}">join us</a> /
    </div>

    <h1>{{page.title}}</h1>

    {% if page.subtitle %}
      <h2 class="subtitle">{{page.subtitle}}</h2>
    {% endif %}

    <div class="meta">
      <div class="info">
        <a class="author-link" href="{{author.handle | prepend: site.twitter_url}}">{{ author.name }}</a>
        <!-- <time>{{page.date | date: "%b %-d, %Y"}}</time> -->
      </div>
    </div>

    <main class="content">


      {{ content }}

      <hr>

      <h2>About Populate</h2>

      <p>Populate is a small team that enjoys working on interesting and impactful projects (although we remain realists about generating impact, meaning we hate bullshit talk). Small means you will (and want to) do many different things, and that we don't plan to grow as crazy. Interesting means working smart with curious people (yes, weird sometimes - but that's the fun right?).</p>

      <p>We work for clients and on our products, such as <a href="https://gobierto.es">Gobierto</a>, a platform to help public administrations better connect with their constituents. We put a lot of thought on what projects we work on and which clients we want to work with. Apart from the output of the work, we value a lot the quality of the process: we like to work fast and efficiently, and that can only be done if everyone is motivated, happy, aligned and believing in what we are doing and who we are working with.</p>

      <p>We enjoy open (<a href="http://github.com/populatetools/">code</a>, data...), and believe in it as a positive force.</p>

      <p>Our aim as a team is to enjoy the process of building products that we believe in and that <a href="https://signalvnoise.com/posts/1437-put-a-dent-in-the-universe">put a dent in the universe</a>.</p>

      <p>Founding partners are Álvaro Ortiz (<a href="https://twitter.com/furilo">@furilo</a>) and Fernando Blat (<a href="https://twitter.com/ferblape">@ferblape</a>).</p>


      <h2>Language and communications skills</h2>

      <p>We have a mix of spanish and english speaking clients. Many of our internal communication is in english. We expect you can communicate well in english or spanish, both written and in-person. We love when people can articulate thoughts with elegance, precision and economy.</p>


      <h2>Conditions / What we offer</h2>
      <ul>
        <li>Competitive salary according to experience</li>
        <li>A nice working place at our office in Argüelles, Madrid, Spain</li>
        <li>Conferences and books budget</li>
        <li>Flexible hours and remote</li>
        <li>Interesting projects to work on</li>
      </ul>

      <hr>

      <h2>Interesed? Apply</h2>

      <div class="m_v_3">
        <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
        <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrlru12HLbo4zOtx?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="1056" style="background: transparent; border: 1px solid #ccc;"></iframe>
      </div>


    </main>

    <a href="/{{ site.join_us }}">join us</a> /

  </article>

</div>
