<!DOCTYPE html>
<html>

{% include head.html %}

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Libre+Caslon+Display&display=swap" rel="stylesheet">
<body class="{{ page.layout }} {{ page.body_class}} {% if page.url == '/' %}section_home{% endif %} {{ page.class }}" id="top">

<div class="container post-page container-constitution">
    <main class="content">
      {{ content }}
    </main>
</div>

{% include scripts.html %}

<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '973324', 'w1x9v5r3g2', 'load');
</script>
<!-- End MailerLite Universal -->

</body>
</html>
