---
layout: default
---
{% assign author = site.data.team[page.author] %}
<div class="container post-page">

  <article>

    {% if page.main_photo_big %}
    <header>
      {% if page.main_photo_big contains '://' %}
        <img src="{{ page.main_photo_big }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
      {% else %}
        <img src="{% asset_path page.main_photo_big %}" />
      {% endif %}
    </header>
    {% endif %}

    <h1>{{page.title}}</h1>

    {% if page.subtitle %}
      <h2 class="subtitle">{{page.subtitle}}</h2>
    {% endif %}

    <div class="meta">
      <a class="no-underline" href="{{author.handle | prepend: site.twitter_url}}">
        <img class="pure-img avatar" src="{{ site.baseurl }}/assets/img/{{ author.img }}" />
      </a>
      <div class="info">
        <a class="author-link" href="{{author.handle | prepend: site.twitter_url}}">{{ author.name }}</a>
        <time>{{page.date | date: "%b %-d, %Y"}}</time>
      </div>
    </div>

    {% if page.main_photo %}
    <header>
      {% if page.main_photo contains '://' %}
        <img src="{{ page.main_photo }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
      {% else %}
        <img src="{% asset_path page.main_photo %}" />
      {% endif %}
    </header>
    {% endif %}

    <main class="content">
      {{ content }}
    </main>

    <div class="latest-articles posts-index">

      <h4>Latest articles</h4>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2">

          <div class="small-title">English</div>

          {% assign english-posts = site.posts | where: "lang","en" %}
          {% for post in english-posts limit:4 %}
            <article class="article">
              <h2 class="article-headline"><a class="article-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <time class="article-time">{{post.date | date: "%b %-d, %Y"}}</time>
            </article>
          {% endfor %}

        </div>

        <div class="pure-u-1 pure-u-md-1-2">

          <div class="small-title">Spanish</div>

          {% assign spanish-posts = site.posts | where: "lang","es" %}
          {% for post in spanish-posts %}
            <article class="article">
              <h2 class="article-headline"><a class="article-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <time class="article-time">{{post.date | date: "%b %-d, %Y"}}</time>
            </article>
          {% endfor %}

        </div>

      </div>

      <p><a href="/blog">view all</a></p>

    </div>

  </article>

</div>
