---
layout: default
---
{% assign author = site.data.team[page.author] %}

{% include header.html %}

<article>
<h1>{{page.title}}</h1>

{% if page.subtitle %}
  <h2>{{page.subtitle}}</h2>
{% endif %}

<div class="meta">
  <img class="pure-img avatar" src="{{author.img}}" alt="{{author.name}}">
  <div class="info">
    <a class="author-link" href="{{author.handle | prepend: site.twitter_url}}">{{ author.name }}</a>
    <time>{{page.date | date: "%-d %B, %Y"}}</time>
  </div>
</div>

<main class="content {{page.title | slugify}}">
  {{ content }}
</main>
</article>
