---
layout: default
---
{% assign author = site.data.team[page.author] %}

<header class="story" id="story-start">

  <div class="container">

    <div class="header-text">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>
      <p class="author"></p>
      <div class="share-icons">
        {% include share_links.html %}
      </div>
    </div>

    <div class="visual_feature" style="background-url: {% asset_path {{page.img}} @path %}" ></div>

  </div>

</header>

<div class="container post-page story-container">

  <article>

    {% if page.main_photo_big %}
    <header>
      {% if page.main_photo_big contains '://' %}
        <img src="{{ page.main_photo_big }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
      {% else %}
        {% asset_path '{{ page.main_photo_big }}' class:'heading' itemprop:'img heading' title:'{{ page.main_photo_caption }}' %}
      {% endif %}
    </header>
    {% endif %}

    {% if page.main_photo %}
    <header>
      {% if page.main_photo contains '://' %}
        <img src="{{ page.main_photo }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
      {% else %}
        {% asset_path '{{ page.main_photo }}' class:'heading' itemprop:'img heading' title:'{{ page.main_photo_caption }}' %}
      {% endif %}
    </header>
    {% endif %}

    <main class="content">
      {{ content }}
    </main>

    {% include populate_news_latest.html %}

  </article>

</div>
